In [1]:
from finam import Exporter, Market, LookupComparator

# Market test

In [2]:
Market.CURRENCIES

In [3]:
Market.CURRENCIES.name

'CURRENCIES'

In [4]:
[e.name for e in Market]

['BONDS',
 'COMMODITIES',
 'CURRENCIES_WORLD',
 'CURRENCIES',
 'ETF',
 'ETF_MOEX',
 'FUTURES',
 'FUTURES_ARCHIVE',
 'FUTURES_USA',
 'INDEXES',
 'SHARES',
 'SPB',
 'USA',
 'CRYPTO_CURRENCIES']

In [5]:
Market[Market.CURRENCIES.name]

In [6]:
from src.module.market_search import  get_all_markets
";".join(get_all_markets())

'BONDS;COMMODITIES;CURRENCIES_WORLD;CURRENCIES;ETF;ETF_MOEX;FUTURES;FUTURES_ARCHIVE;FUTURES_USA;INDEXES;SHARES;SPB;USA;CRYPTO_CURRENCIES'

In [7]:
from src.module.stock_search import get_stock,by_code
stock = by_code("EURUSD", Market.CURRENCIES_WORLD)
stock

(83, <Market.CURRENCIES_WORLD: 5>)

In [8]:
from src.module.quote_loader import load_quote, datetime, Timeframe
df = load_quote(stock[0], Market.CURRENCIES_WORLD, start_date=datetime(2015,1,1), end_date=datetime(2020,1,1),timeframe=Timeframe.MINUTES30)
df

/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)

       index     Open     High      Low    Close  Volume                   DT
0          0  1.20986  1.21079  1.20970  1.21070   15518  2015-01-01T00:00:00
1          1  1.21065  1.21071  1.20970  1.21006   10746  2015-01-01T00:30:00
2          2  1.21005  1.21037  1.20960  1.20983    8206  2015-01-01T01:00:00
3          3  1.20984  1.21017  1.20969  1.21009    7399  2015-01-01T01:30:00
4          4  1.21016  1.21024  1.20950  1.20969    6208  2015-01-01T02:00:00
...      ...      ...      ...      ...      ...     ...                  ...
64006    102  1.12130  1.12159  1.12120  1.12130      44  2020-01-01T22:00:00
64007    103  1.12130  1.12149  1.12127  1.12127      26  2020-01-01T22:30:00
64008    104  1.12130  1.12180  1.12100  1.12123      52  2020-01-01T23:00:00
64009    105  1.12127  1.12134  1.12110  1.12134       4  2020-01-01T23:30:00
64010    106  1.12123  1.12126  1.12100  1.12126       3  2020-01-02T00:00:00

[64006 rows x 7 columns]

In [11]:
base_df = Exporter().download(stock[0],Market.CURRENCIES_WORLD, start_date=datetime(2015,1,1), end_date=datetime(2020,1,1),timeframe=Timeframe.MINUTES30 )
base_df

/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)
/usr/local/lib/python3.9/site-packages/finam/export.py:390: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(chunk_df)

       <DATE>    <TIME>   <OPEN>   <HIGH>    <LOW>  <CLOSE>  <VOL>
0    20150101  00:00:00  1.20986  1.21079  1.20970  1.21070  15518
1    20150101  00:30:00  1.21065  1.21071  1.20970  1.21006  10746
2    20150101  01:00:00  1.21005  1.21037  1.20960  1.20983   8206
3    20150101  01:30:00  1.20984  1.21017  1.20969  1.21009   7399
4    20150101  02:00:00  1.21016  1.21024  1.20950  1.20969   6208
..        ...       ...      ...      ...      ...      ...    ...
102  20200101  22:00:00  1.12130  1.12159  1.12120  1.12130     44
103  20200101  22:30:00  1.12130  1.12149  1.12127  1.12127     26
104  20200101  23:00:00  1.12130  1.12180  1.12100  1.12123     52
105  20200101  23:30:00  1.12127  1.12134  1.12110  1.12134      4
106  20200102  00:00:00  1.12123  1.12126  1.12100  1.12126      3

[64011 rows x 7 columns]

In [12]:
import pandas as pd
wrk_df = base_df.copy()
wrk_df.rename(columns={"<CLOSE>": "Close", "<OPEN>": "Open", "<HIGH>": "High", "<LOW>": "Low", "<VOL>": "Volume"},
                   inplace=True)
wrk_df["DT"] = wrk_df.apply(lambda row:
                  pd.Timestamp(
                      year=int(str(row["<DATE>"])[:4]),
                      month=int(str(row["<DATE>"])[4:6]),
                      day=int(str(row["<DATE>"])[6:8]),
                      hour=int(str(row["<TIME>"]).split(":")[0]),
                      minute=int(str(row["<TIME>"]).split(":")[1])), axis=1)
wrk_df.drop(["<DATE>", "<TIME>"], axis=1, inplace=True)
wrk_df = wrk_df.reset_index().sort_values(by=["DT"])
wrk_df[~wrk_df["DT"].duplicated(keep='first')].reset_index()

,level_0,index,Open,High,Low,Close,Volume,DT
0,0,0,1.20986,1.21079,1.20970,1.21070,15518,2015-01-01 00:00:00
1,1,1,1.21065,1.21071,1.20970,1.21006,10746,2015-01-01 00:30:00
2,2,2,1.21005,1.21037,1.20960,1.20983,8206,2015-01-01 01:00:00
3,3,3,1.20984,1.21017,1.20969,1.21009,7399,2015-01-01 01:30:00
4,4,4,1.21016,1.21024,1.20950,1.20969,6208,2015-01-01 02:00:00
...,...,...,...,...,...,...,...,...
64001,64006,102,1.12130,1.12159,1.12120,1.12130,44,2020-01-01 22:00:00
64002,64007,103,1.12130,1.12149,1.12127,1.12127,26,2020-01-01 22:30:00
64003,64008,104,1.12130,1.12180,1.12100,1.12123,52,2020-01-01 23:00:00
64004,64009,105,1.12127,1.12134,1.12110,1.12134,4,2020-01-01 23:30:00
64005,64010,106,1.12123,1.12126,1.12100,1.12126,3,2020-01-02 00:00:00