In [7]:
from finam import Exporter,Market,Timeframe,LookupComparator
import datetime

# Analitic

In [5]:
market = Market.CURRENCIES_WORLD
id = 83

In [11]:
df = Exporter().lookup(market = Market.CURRENCIES_WORLD, code="EURUSD", code_comparator=LookupComparator.EQUALS)
df

       name    code  market
id
83  Eur/Usd  EURUSD       5

In [12]:
len(df)

1

In [14]:
df.iloc[0].name

83

In [8]:
Exporter().lookup(market = market, id_=83)

       name    code  market
id
83  Eur/Usd  EURUSD       5

In [38]:
df = Exporter().download(id_=83, market=market,start_date=datetime.date(2020, 1, 1), end_date=datetime.date(2020, 1, 1),timeframe=Timeframe.HOURLY)
df

     <DATE>    <TIME>   <OPEN>   <HIGH>    <LOW>  <CLOSE>  <VOL>
0  20200101  00:00:00  1.12172  1.12174  1.12079  1.12110  12821
1  20200101  02:00:00  1.12123  1.12123  1.12117  1.12117      2
2  20200101  20:00:00  1.12154  1.12154  1.12154  1.12154      1
3  20200101  21:00:00  1.12080  1.12214  1.12080  1.12124     63
4  20200101  22:00:00  1.12130  1.12159  1.12120  1.12127     70
5  20200101  23:00:00  1.12130  1.12180  1.12100  1.12134     56
6  20200102  00:00:00  1.12123  1.12126  1.12100  1.12126      3

In [39]:
df["DT"] = df.apply(lambda row: f'{row["<DATE>"]}-{row["<TIME>"][:2]}{row["<TIME>"][3:5]}',axis=1)
df

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,DT
0,20200101,00:00:00,1.12172,1.12174,1.12079,1.12110,12821,20200101-0000
1,20200101,02:00:00,1.12123,1.12123,1.12117,1.12117,2,20200101-0200
2,20200101,20:00:00,1.12154,1.12154,1.12154,1.12154,1,20200101-2000
3,20200101,21:00:00,1.12080,1.12214,1.12080,1.12124,63,20200101-2100
4,20200101,22:00:00,1.12130,1.12159,1.12120,1.12127,70,20200101-2200
5,20200101,23:00:00,1.12130,1.12180,1.12100,1.12134,56,20200101-2300
6,20200102,00:00:00,1.12123,1.12126,1.12100,1.12126,3,20200102-0000

In [40]:
import json

df = df.rename(columns={"<OPEN>":"O", "<HIGH>":"H", "<LOW>":"L", "<CLOSE>":"C", "<VOL>":"V"}).drop(['<DATE>', '<TIME>'], axis=1).reindex(["DT","O","H","L","C","V"], axis=1)
str(json.loads(df.to_json(orient="records")))

"[{'DT': '20200101-0000', 'O': 1.12172, 'H': 1.12174, 'L': 1.12079, 'C': 1.1211, 'V': 12821}, {'DT': '20200101-0200', 'O': 1.12123, 'H': 1.12123, 'L': 1.12117, 'C': 1.12117, 'V': 2}, {'DT': '20200101-2000', 'O': 1.12154, 'H': 1.12154, 'L': 1.12154, 'C': 1.12154, 'V': 1}, {'DT': '20200101-2100', 'O': 1.1208, 'H': 1.12214, 'L': 1.1208, 'C': 1.12124, 'V': 63}, {'DT': '20200101-2200', 'O': 1.1213, 'H': 1.12159, 'L': 1.1212, 'C': 1.12127, 'V': 70}, {'DT': '20200101-2300', 'O': 1.1213, 'H': 1.1218, 'L': 1.121, 'C': 1.12134, 'V': 56}, {'DT': '20200102-0000', 'O': 1.12123, 'H': 1.12126, 'L': 1.121, 'C': 1.12126, 'V': 3}]"

# Test

In [2]:
args= {}
args["test"]=1
args.get("test")

1