In [1]:
from finam import Exporter,Market,Timeframe,LookupComparator
import datetime

# Analitic

In [2]:
market = Market.CURRENCIES_WORLD
id = 83

In [3]:
df = Exporter().lookup(market = Market.CURRENCIES_WORLD, code="EURUSD", code_comparator=LookupComparator.EQUALS)
df

       name    code  market
id
83  Eur/Usd  EURUSD       5

In [4]:
len(df)

1

In [5]:
df.iloc[0].name

83

In [6]:
Exporter().lookup(market = market, id_=83)

       name    code  market
id
83  Eur/Usd  EURUSD       5

In [7]:
df = Exporter().download(id_=83, market=market,start_date=datetime.date(2020, 1, 1), end_date=datetime.date(2020, 1, 1),timeframe=Timeframe.HOURLY)
df

     <DATE>    <TIME>   <OPEN>   <HIGH>    <LOW>  <CLOSE>  <VOL>
0  20200101  00:00:00  1.12172  1.12174  1.12079  1.12110  12821
1  20200101  02:00:00  1.12123  1.12123  1.12117  1.12117      2
2  20200101  20:00:00  1.12154  1.12154  1.12154  1.12154      1
3  20200101  21:00:00  1.12080  1.12214  1.12080  1.12124     63
4  20200101  22:00:00  1.12130  1.12159  1.12120  1.12127     70
5  20200101  23:00:00  1.12130  1.12180  1.12100  1.12134     56
6  20200102  00:00:00  1.12123  1.12126  1.12100  1.12126      3

In [8]:
df["DT"] = df.apply(lambda row: f'{row["<DATE>"]}-{row["<TIME>"][:2]}{row["<TIME>"][3:5]}',axis=1)
df

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,DT
0,20200101,00:00:00,1.12172,1.12174,1.12079,1.12110,12821,20200101-0000
1,20200101,02:00:00,1.12123,1.12123,1.12117,1.12117,2,20200101-0200
2,20200101,20:00:00,1.12154,1.12154,1.12154,1.12154,1,20200101-2000
3,20200101,21:00:00,1.12080,1.12214,1.12080,1.12124,63,20200101-2100
4,20200101,22:00:00,1.12130,1.12159,1.12120,1.12127,70,20200101-2200
5,20200101,23:00:00,1.12130,1.12180,1.12100,1.12134,56,20200101-2300
6,20200102,00:00:00,1.12123,1.12126,1.12100,1.12126,3,20200102-0000

In [9]:
from pandas_data_reader_service_core.modules.finam.download_service import FinamStockDownloadService,FinamStockInfo,Market,TimeFrame

In [10]:
stock_info = FinamStockInfo.by_code("EURUSD", market)

In [11]:
df = FinamStockDownloadService().get_by_stock_info(stock_info,datetime.date(2020, 1, 1), datetime.date(2020, 1, 1),TimeFrame.HOURLY).reset_index()
df

                   DT     Open     High      Low    Close  Volume
0 2020-01-01 00:00:00  1.12172  1.12174  1.12079  1.12110   12821
1 2020-01-01 02:00:00  1.12123  1.12123  1.12117  1.12117       2
2 2020-01-01 20:00:00  1.12154  1.12154  1.12154  1.12154       1
3 2020-01-01 21:00:00  1.12080  1.12214  1.12080  1.12124      63
4 2020-01-01 22:00:00  1.12130  1.12159  1.12120  1.12127      70
5 2020-01-01 23:00:00  1.12130  1.12180  1.12100  1.12134      56
6 2020-01-02 00:00:00  1.12123  1.12126  1.12100  1.12126       3

In [12]:
df["DT"] = df["DT"].apply(lambda el: el.isoformat())

In [13]:
df["DT"][0]

'2020-01-01T00:00:00'

In [14]:
from src.module.quote_loader import load_quote
args = {
    "stock_info": stock_info,
    "start_date": datetime.date(2020, 1, 1),
    "end_date": datetime.date(2020, 1, 1),
    "timeframe":TimeFrame.HOURLY
}
load_quote(**args)

                    DT     Open     High      Low    Close  Volume
0  2020-01-01T00:00:00  1.12172  1.12174  1.12079  1.12110   12821
1  2020-01-01T02:00:00  1.12123  1.12123  1.12117  1.12117       2
2  2020-01-01T20:00:00  1.12154  1.12154  1.12154  1.12154       1
3  2020-01-01T21:00:00  1.12080  1.12214  1.12080  1.12124      63
4  2020-01-01T22:00:00  1.12130  1.12159  1.12120  1.12127      70
5  2020-01-01T23:00:00  1.12130  1.12180  1.12100  1.12134      56
6  2020-01-02T00:00:00  1.12123  1.12126  1.12100  1.12126       3

In [15]:
import json

df = df.rename(columns={"<OPEN>":"O", "<HIGH>":"H", "<LOW>":"L", "<CLOSE>":"C", "<VOL>":"V"}).drop(['<DATE>', '<TIME>'], axis=1).reindex(["DT","O","H","L","C","V"], axis=1)
str(json.loads(df.to_json(orient="records")))

KeyError: "['<DATE>' '<TIME>'] not found in axis"

# Test

In [ ]:
args= {}
args["test"]=1
args.get("test")

1